/* Vars */
$black: #000f40;
$green: #81CA38;

$primary: #283A7C;

$accent-1: #00FF8A;
$accent-3: #FF3D6B;

$cdn: #2A418B;
$ddos: #042D56;
$ovp: #BF2E50;
$apm: #FF5E30;
$hosting: #5487E2;
$dns: #6042A5;
$gtm: #8B6500;
$saas: #1C9ECC;
