.percent-bar {
  margin: 8px 0 2px;
}

.legend {

  ul {
    font-size: 10px;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
